

.navbar-normal {

	padding: 0.2rem 0.5rem;
	background-color: #1A1818;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'Merriweather', serif;
	color: white;
}


.intro {
	height:100vh; 
	background: url(./76925.jpg);
	background-repeat: no-repeat;
	background-position: 45% 0%;
	background-size: cover;
	box-shadow: 0px 1px 10px rgba(10,10,10,0.95);
	position: relative;
	z-index: 10;
}

.title-section {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.title {
	font-size: 3.5rem;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 4px black;
}

.subtitle {
	font-weight: bolder;
	color: white;
	text-shadow: 1px 1px 4px black;

}


.Me {

	background: url(./white.jpg);
	background-repeat: no-repeat;
	background-position: 45% 0%;
	background-size: cover;
	box-shadow: 0px 1px 10px rgba(10,10,10,0.95);
	position: relative;
	z-index: 10;
}

.me-section {
	padding-top: 20px;
	padding-bottom: 10px;
}

.protrait {
	border-radius: 10%;
	object-fit: cover;
	width: 100%;
	height: auto;
	max-height: 400px;
	max-width: 300px;
	box-shadow: 1px 4px 6px -2px black;
}

.me-p {
	font-family: "Merriweather", serif;
	font-weight: bold;
	font-size: 1.5rem;
}

.me-p2 {
	font-family: "Merriweather", serif;
	font-weight: bold;
	font-size: 1rem;
}

.but-section {

	font-family: "Merriweather", serif;
	padding-top: 20px;
	padding-bottom: 10px;
}

.mebut {
	height: auto;
	border-radius: 20%;
}

.Education {
	background-color: #E8E7E7;
	padding-bottom: 10px;
}

#Education {
	padding-top: 50px;
}


.school {
	border-radius: 50%;
	object-fit: cover;
	width: 80%;
	height: auto;
	max-width: 230px;
	box-shadow: 1px 4px 6px -2px black;
}


.infos {
	font-family: "Times", sans-serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: normal;
	padding-top: 15px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

}

.justify-content-end {
	justify-content: flex-end!important;
}


@media (min-width: 768px)
.container {
    max-width: 720px;
}


.education-title {
    font-family: "Times", sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: bolder;
    text-shadow: 1px 4px 6px grey;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

#no1 {
	
	padding-top: 10px;
}

#no2 {
	padding-bottom: 10px;
	padding-top: 20px;
}







.Experience {
	background-color: #CAC8C8;
}

#Experience {
	padding-top: 100px;
}

.Skills {
	padding-top: 10px;
	padding-bottom: 10px;
	background: url(./white.jpg);
	background-repeat: no-repeat;
	background-position: 45% 0%;
	background-size: cover;
	box-shadow: 0px 1px 10px rgba(10,10,10,0.95);
	position: relative;
	z-index: 10;

}

.skill-showcase {
	border-radius: 6px;
    max-width: 500px;
    padding: 20px 0px;
    box-shadow: 1px 5px 15px -2px rgba(0, 0, 5, 0.15);
    margin: auto;
    transition-duration: 0.2s;
}

.imgtop img{
	display: block;
    margin: auto;
    padding: 10px 0px;
    max-width: 500px;
    width: 100%;
    height: auto;
}


.skill-title {
	text-align: center;
	text-shadow: 1px 2px 3px grey;
}




.Contact {

	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;

}

#Contact {
	color: white;
	font-size: 1.5rem;
}

.footer-copyright {
    background-color: #0f1414;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 8px;
}
.text-center {
    text-align: center!important;

}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #373c41;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pb-4, .py-4 {
    padding-bottom: 0rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1rem!important;
}

.footer-body {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 10px;
	display: block;
}


.imm {

    width: 35px;
    height: auto;
    margin: 0px 10px;

}

.d-block {
    display: block!important;
}


.footer-title {
	font-family: "Times", sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
	color: #AAA9A9;
	padding-bottom: 10px;
}

.footer-sub {
	font-family: "Times", sans-serif;
	font-size: 1rem;
	color: #AAA9A9;
	line-height: 20px;
	padding-top: 10px;
}



